.home{
    background-color: $primary-color;
    &-background{
        background-image: url("https://i.imgur.com/p7lBF1n.jpg");
        width:100%; /*width of your image*/
        height:100vh; /*height of your image*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &-layer{
            background-color:#192233d3;

            & h1{
                color: $base-color;
            }
        }
    }
}